.pio
.pioenvs
.piolibdeps
.vscode/.browse.c_cpp.db*
**/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
STM32CubeMX/STM32F103CBTx_LQFP48/Core*
STM32CubeMX/STM32F103CBTx_LQFP48/.mxproject
img/
.DS_Store
*.i
*.ii
*.s
*.bak
